@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #ffea74;
  --color-secondry: #f50269;
  --color-skyblue: #3cf;
  --color-lightblack: #243237;
  --color-exodusFruit: #696adb;
  --color-Jupiter: #dcdcde;
  --color-blackMetal: #050505;
  --color-piedWagtailGrey: #bbbabf;
  --color-schoolBus: #ffd800;
  --color-yachtClub: #576063;
  --color-cottonBall: #f4f9fd;
  --color-Mandarin: #f47d41;
  --color-blueTitmouse: #4063fd;
  --color-vivid: #ffa303;
  --color-brutal: #e41822;
  --color-superSilver: #f1f1f1;
  --color-whiteColor: #888;
  --color-dipper: #e5e7eb;
  --color-super: #f0f0f0;
  --breakpoint-xs: 500px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1440px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1720px;
  --drop-shadow-c1: 2px 2px 6px rgba(68, 68, 68, 0.25);
  --shadow-c2: 0px 3px 10px 0px rgba(132, 78, 213, 0.25);
  --shadow-c3: 0px 5px 20px 0px rgba(132, 78, 213, 0.08);
  --shadow-c4: 3px 10px 10px 0px rgba(0, 0, 0, 0.2);
  --shadow-c5: 5px 8px 20px 0px rgba(0, 123, 255, 0.25);
  --shadow-c6: 0px 5px 20px 0px rgba(132, 78, 213, 0.08);
  --shadow-c7: 2px 2px 6px 0px rgba(70, 70, 70, 0.25);
  --shadow-c8:
    0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-c9: 0 2px 10px rgba(0, 0, 0, 0.1);
  --font-poppins: "poppins", "sans-serif";
}

body {
  @apply font-poppins bg-white;
}
.main-heading {
  @apply 3xl:text-[50px] text-[23px] leading-[150%] font-bold sm:text-[30px] md:text-[36px] 2xl:text-[38px];
}
.secondry-heading {
  @apply 3xl:text-[35px] text-sm font-bold lg:text-2xl 2xl:text-[28px];
}
.small-title {
  @apply text-base leading-[190%];
}
.small-title-description {
  @apply text-lightblack pt-4 text-center text-base leading-[190%] font-light;
}
.larger-title {
  @apply text-lightblack 3xl:text-[30px] text-xl leading-[130%] font-bold md:text-[23px] md:leading-[140%];
}
.shops-in-wydawalidobrze {
  @apply hover:text-primary 3xl:text-base w-fit cursor-pointer text-sm font-light text-white transition-all duration-200 ease-in-out;
}
.main-container {
  @apply 3xl:max-w-[1590px] mx-auto max-w-[1315px] px-5;
}
.primary-container {
  @apply 3xl:max-w-[1593px] mx-auto max-w-[1350px] px-5;
}
.artical-container {
  @apply hover:shadow-c5 flex h-[100px] cursor-pointer items-center gap-8 rounded-lg px-9 py-6 transition-all duration-200 ease-in-out hover:bg-white;
}
.tertiary-container {
  @apply mx-auto max-w-[1163px] items-end px-4 py-4;
}
.product-card {
  @apply 3xl:px-[14px] shadow-c6 relative flex h-full flex-col justify-between overflow-hidden rounded-[20px] bg-white px-3 py-5 transition-all duration-300 ease-in-out hover:-translate-y-1 sm:py-6;
}
.tittle-text {
  @apply text-blackMetal w-full max-w-[116px] text-base leading-[150%] font-bold;
}

.product-name {
  @apply text-exodusFruit 3xl:text-3xl mb-2.5 text-start text-xl leading-[130%] font-bold break-words sm:text-2xl md:text-center 2xl:text-[26px];
}
.product-name-disable {
  @apply text-yachtClub 3xl:text-3xl mb-2.5 text-start text-xl leading-[130%] font-bold break-words sm:text-2xl md:text-center 2xl:text-[26px];
}
.product-descriptions {
  @apply text-lightblack pb-3 text-start text-[11px] leading-[120%] font-light sm:text-sm md:text-center;
}
.product-tag {
  @apply text-lightblack block text-center text-base leading-[120%] font-light md:hidden md:pt-2.5;
}
.product-tag-mobile {
  @apply text-lightblack hidden pt-2.5 text-center text-base leading-[120%] font-light md:block;
}
.primary-button {
  @apply bg-secondry hover:shadow-c7 flex h-[40px] w-full cursor-pointer items-center justify-center gap-2 rounded-3xl px-6 py-3 text-center text-white transition-all duration-200 ease-in-out;
}
.primary-button-disable {
  @apply bg-yachtClub hover:shadow-c7 flex h-[40px] w-full cursor-pointer items-center justify-center gap-2 rounded-3xl px-6 py-3 text-center text-white transition-all duration-200 ease-in-out;
}
.product-footer-text {
  @apply text-lightblack text-[11px] leading-[218.182%] font-light;
}
.product-card-img {
  @apply mx-0 h-full max-h-[90px] object-center sm:mx-auto md:max-h-[250px];
}
.only-with-us {
  @apply bg-schoolBus text-lightblack drop-shadow-c1 xxl:-right-[37%] xxl:top-[4%] 3xl:top-[4.9%] 3xl:py-2.5 pointer-events-none absolute top-[18%] -right-[41%] z-10 !m-0 w-full rotate-45 py-1 text-center text-xs leading-[66.667%] font-bold sm:top-[9%] sm:-right-[41%] md:top-[5%] md:-right-[42%] lg:-right-[40%] 2xl:py-[6px];
}
.slider-only-with-us {
  @apply bg-schoolBus text-lightblack drop-shadow-c1 xs:-right-[41%] xs:top-[14%] xxl:-right-[34%] xxl:top-[11%] 3xl:top-[9.9%] 3xl:py-2.5 pointer-events-none absolute top-[14%] -right-[38%] z-10 !m-0 w-full rotate-45 py-1 text-center text-xs leading-[66.667%] font-bold sm:top-[12%] sm:-right-[44%] md:top-[10%] md:-right-[40%] lg:-right-[35%] 2xl:py-[6px];
}
.footer-li-style {
  @apply hover:text-primary cursor-pointer text-base transition-all duration-200 ease-in-out;
}
.search-input-style {
  @apply placeholder:text-piedWagtailGrey w-full bg-transparent text-base text-black outline-none;
}
.search-item-style {
  @apply border-Jupiter flex h-[100px] items-center justify-center border px-4;
}
.hero-slider-style {
  @apply shadow-c2 relative !flex !h-[288px] !flex-col items-center justify-between overflow-hidden rounded-3xl bg-white;
}
.nav-items-style {
  @apply hover:text-primary cursor-pointer text-base leading-[150%] text-white transition-all duration-200 ease-in-out;
}
.count-card-style {
  @apply shadow-c3 rounded-xl bg-white px-9 py-10 transition-all duration-300 ease-in-out hover:-translate-y-1 2xl:px-0;
}
.count-hub-heading {
  @apply 3xl:text-[50px] w-[200px] text-center text-[50px] leading-[130%] font-bold md:w-[270px] lg:text-[42px];
}
.medium-title {
  @apply text-lightblack 3xl:text-xl text-xs leading-[160%] font-light sm:text-base;
}
.botton-top-btn-style {
  @apply bg-secondry shadow-c4 hover:bg-Mandarin fixed right-2 bottom-5 z-[1000] h-[50px] w-[50px] cursor-pointer rounded-full transition-all duration-200 md:right-5 md:h-[60px] md:w-[60px];
}
.header-dropdown-style {
  @apply hover:shadow-c5 flex cursor-pointer items-center gap-6 rounded-md p-6 transition-all duration-200 ease-in-out hover:bg-white;
}
.header-dropdown-title {
  @apply text-blackMetal w-full max-w-[116px] text-base leading-[150%] font-bold;
}
.hero-slider-card {
  @apply shadow-c2 relative !flex !h-[288px] !flex-col items-center justify-between overflow-hidden rounded-3xl bg-white;
}
.primary-button-hover {
  @apply absolute right-4 -translate-x-5 transform text-base font-bold opacity-0 transition-all duration-300 ease-in-out group-hover:translate-x-0 group-hover:opacity-100;
}
.hero-bg-style {
  @apply absolute top-0 left-0 z-[-1] h-[231px] w-full md:h-[500px];
}
.top-categories-bg-style {
  @apply absolute top-[14%] left-0 z-[-5] object-cover;
}
.header-dropdown-content-hover {
  @apply fill-blueTitmouse transition-colors duration-300 group-hover:fill-[url(#hoverGradient)];
}
.paragraph-font-style {
  @apply 3xl:text-xl text-xs leading-[170%] md:text-lg md:leading-[160%];
}
.dropdown-text {
  @apply text-blackMetal block px-4 py-2 text-base font-light;
}
.coupon-info-text {
  @apply 3xl:text-base text-[11px] md:text-sm;
}
.table-btn-style {
  @apply bg-secondry 3xl:h-[40px] 3xl:py-2 3xl:text-base m-auto block h-[36px] w-full max-w-[113px] rounded-full px-4 py-1 text-xs text-white shadow-lg transition-all duration-300 sm:text-sm;
}
.accordion-btn-style {
  @apply text-exodusFruit 3xl:text-[50px] 3xl:leading-[65px] flex w-full items-center justify-between gap-3 text-left text-sm leading-[130%] font-light md:gap-8 md:text-[30px] xl:text-[36px] 2xl:text-[38px] 2xl:leading-[55px];
}
.see-more-title {
  @apply text-lightblack 3xl:text-[30px] text-xs font-bold sm:text-2xl md:text-[26px];
}
.service-testing-title {
  @apply text-lightblack group-hover:text-Mandarin text-xs font-light transition-all duration-200 ease-in-out;
}
.service-testing-decription {
  @apply text-exodusFruit group-hover:text-Mandarin text-xs font-light transition-all duration-200 ease-in-out;
}
.service-card-style {
  @apply shadow-c3 flex h-full cursor-pointer flex-col justify-between overflow-hidden rounded-[20px] bg-white;
}
.service-card-title {
  @apply text-exodusFruit text-sm font-bold;
}
.service-card-description {
  @apply text-lightblack text-xs leading-[150%] font-light;
}
.hero-descrition {
  @apply 3xl:text-xl text-[11px] sm:text-sm md:text-base;
}
.input-style {
  @apply border-piedWagtailGrey h-[50px] flex-1 rounded-[20px] border px-6 py-3 font-light outline-none;
}
.reply-btn-style {
  @apply bg-cottonBall text-lightblack cursor-pointer rounded-[20px] px-4 py-3 text-xs;
}
.modal-input-style {
  @apply text-lightblack w-full flex-grow bg-white px-4 py-2 text-base outline-none;
}

/* backgrounds */

.hero-product-bg::before {
  content: "";
  @apply absolute top-[-2.5%] left-0 -z-10 h-full w-full bg-[url('/images/webp/hero-product-bg-mobile.webp')] bg-cover bg-top xl:top-[-111px] xl:h-[106.5%] xl:bg-[url('/images/webp/hero-product-bg.webp')];
}
.frequently-bg-section::after {
  content: "";
  @apply absolute top-[-2%] left-0 -z-1 hidden h-full w-full bg-[url('/images/webp/frequently-story-bg.webp')] bg-cover bg-top bg-no-repeat xl:block;
}
.footer-bg::before {
  content: "";
  @apply absolute top-0 left-0 -z-1 h-full w-full bg-[url('/images/webp/footer-mobile-bg.webp')] bg-cover bg-top bg-no-repeat lg:bg-[url('/images/webp/footer-bg.webp')];
}
/* .top-categories-bg2-style::before {
  content: "";
  @apply absolute top-0 left-0 -z-10 h-full w-full bg-[url('/images/svg/top-categories-bg2.svg')] bg-[length:100%_100%] bg-center bg-no-repeat;
} */

.img-color-inactive {
  @apply filter;
  filter: brightness(0) saturate(100%) invert(37%) sepia(42%) saturate(1407%)
    hue-rotate(215deg) brightness(98%) contrast(94%);
}

.img-color-active {
  @apply filter;
  filter: brightness(0) saturate(100%) invert(14%) sepia(5%) saturate(293%)
    hue-rotate(139deg) brightness(97%) contrast(90%);
}

.swiper {
  @apply h-full w-full;
}

.dropdown-enter {
  @apply animate-[fadeInDropdown_0.2s_ease-in-out_forwards];
}

.dropdown-exit {
  @apply animate-[fadeOutDropdown_0.2s_ease-in-out_forwards];
}

@keyframes fadeInDropdown {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutDropdown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-6px);
  }
}
.scrollbar-hide {
  @apply [-ms-overflow-style:none] [scrollbar-width:none];
}

.scrollbar-hide::-webkit-scrollbar {
  @apply hidden;
}

/* Mobile sidebar */
.mobile-sidebar {
  @apply shadow-c9 fixed top-0 left-0 z-[9999] h-screen w-4/5 max-w-[300px] -translate-x-full overflow-y-auto bg-white transition-transform duration-300 ease-in-out;
}

.mobile-sidebar.open {
  @apply translate-x-0;
}

.sidebar-overlay {
  @apply invisible fixed top-0 left-0 z-10 h-full w-full bg-black/50 opacity-0 transition-opacity duration-300 ease-in-out;
}

.sidebar-overlay.active {
  @apply visible opacity-100;
}
.mobile-menu-items a {
  @apply flex items-center justify-between p-[15px] text-base no-underline;
}

.mobile-search {
  @apply border-super border-t p-[15px];
}

.search-overlay {
  @apply shadow-c9 fixed top-0 left-0 z-40 w-full -translate-y-full bg-white transition-transform duration-300 ease-in-out;
}

.search-overlay.open {
  @apply translate-y-0;
}
.search-container {
  @apply flex items-center p-[15px];
}

.search-overlay-input {
  @apply flex-1 border-none p-[10px] text-base outline-none;
}

.dropdown-panel {
  @apply shadow-c8 border-dipper invisible absolute top-[74%] left-0 z-50 -translate-y-[10px] rounded-lg border bg-white opacity-0 transition-[opacity,transform,visibility] duration-300 ease-in-out;
}

.dropdown-panel.show {
  @apply visible translate-y-0 opacity-100;
}

.dropdown-content {
  @apply max-h-0 overflow-hidden transition-[max-height] duration-300 ease-out;
}
.arrow-icon-dropdown {
  transition: transform 0.3s ease;
}
.arrow-icon-dropdown.rotate {
  transform: rotate(180deg);
}
.dropdown-content.open {
  max-height: 1451px;
  transition: max-height 0.5s ease-in;
}
.arrow-change path {
  @apply fill-white;
}

.suggestions {
  @apply hidden border-t-0;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  @apply h-2 w-[5px];
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-superSilver rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-whiteColor rounded-full;
}
.custom-gradient {
  @apply bg-[linear-gradient(110deg,#9a33ae_6.13%,#f50269_76.3%,#f47d41_99.4%)] xl:!bg-none;
}

.swiper-title-style {
  @apply flex w-28 flex-shrink-0 flex-col items-center gap-6 text-center;
}

.gradient-text {
  background: linear-gradient(
    110deg,
    #ffd800 25.25%,
    #f50269 59.3%,
    #9a33ae 76.55%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.spinner {
  border-top-color: transparent;
  border-radius: 9999px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: all 0.3s ease;
}

.modal-overlay.active {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  transform: scale(0.9);
  opacity: 0;
  transition: all 0.3s ease;
}

.modal-overlay.active .modal-container {
  transform: scale(1);
  opacity: 1;
}
