@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", "sans-serif" !important;
  background: white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-gradient {
  background: linear-gradient(
    110deg,
    #ffd800 25.25%,
    #f50269 59.3%,
    #9a33ae 76.55%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Mobile sidebar */
.mobile-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 300px;
  height: 100vh;
  background-color: white;
  z-index: 9999;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  overflow-y: auto;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.mobile-sidebar.open {
  transform: translateX(0);
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
}

.mobile-menu-items a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  text-decoration: none;
  font-size: 16px;
}

/* Search bar */
.mobile-search {
  padding: 15px;
  border-top: 1px solid #f0f0f0;
}

/* Search overlay */
.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 40;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.search-overlay.open {
  transform: translateY(0);
}

.search-container {
  display: flex;
  align-items: center;
  padding: 15px;
}

.search-overlay-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
}

.dropdown-panel {
  position: absolute;
  top: 74%;
  z-index: 50;
  left: 0;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  /* Animation properties */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);

  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;
}

.dropdown-panel.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.arrow-icon-dropdown {
  transition: transform 0.3s ease;
}

.arrow-icon-dropdown.rotate {
  transform: rotate(180deg);
}

.dropdown-content.open {
  max-height: 1451px;
  /* Adjust based on your content */
  transition: max-height 0.5s ease-in;
}

.arrow-change path {
  fill: white;
}

.suggestions {
  border-top: none;
  display: none;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 9999px;
}
.custom-gradient {
  background: linear-gradient(
    110deg,
    #9a33ae 6.13%,
    #f50269 76.3%,
    #f47d41 99.4%
  );
}

@media screen and (min-width: 1280px) {
  .custom-gradient {
    background: none !important;
  }
}
.main-heading {
  @apply text-[23px] font-bold leading-[150%] sm:text-[30px] md:text-[36px] 2xl:text-[38px] 3xl:text-[50px];
}
.secondry-heading {
  @apply text-sm font-bold lg:text-2xl 2xl:text-[28px] 3xl:text-[35px];
}
.small-title {
  @apply text-base leading-[190%];
}
.larger-title {
  @apply text-xl font-bold leading-[130%] text-lightblack md:text-[23px] md:leading-[140%] 3xl:text-[30px];
}
.shops-in-wydawalidobrze {
  @apply w-fit cursor-pointer text-sm font-light text-white transition-all duration-200 ease-in-out hover:text-primary 3xl:text-base;
}
.main-container {
  @apply mx-auto max-w-[1315px] px-4 3xl:max-w-[1561px];
}
.primary-container {
  @apply mx-auto max-w-[1350px] px-4 3xl:max-w-[1593px];
}
.artical-container {
  @apply flex h-[100px] cursor-pointer items-center gap-8 rounded-lg px-9 py-6 transition-all duration-200 ease-in-out hover:bg-white hover:shadow-[5px_8px_20px_0px_rgba(132,78,213,0.20)];
}
.product-card {
  @apply relative flex h-full flex-col justify-between overflow-hidden rounded-[20px] bg-white px-3 py-6 shadow-[0px_5px_20px_0px_rgba(132,78,213,0.08)] transition-all duration-300 ease-in-out hover:-translate-y-1 3xl:px-[14px];
}
.product-name {
  @apply mb-2.5 break-words text-start text-xl font-bold leading-[130%] text-exodusFruit sm:text-2xl md:text-center 2xl:text-[26px] 3xl:text-3xl;
}
.product-name-disable {
  @apply mb-2.5 break-words text-start text-xl font-bold leading-[130%] text-yachtClub sm:text-2xl md:text-center 2xl:text-[26px] 3xl:text-3xl;
}
.product-descriptions {
  @apply pb-3 text-start text-[11px] font-light leading-[120%] text-lightblack sm:text-sm md:text-center;
}
.product-tag {
  @apply block text-center text-base font-light leading-[120%] text-lightblack md:hidden md:pt-2.5;
}
.product-tag-mobile {
  @apply hidden pt-2.5 text-center text-base font-light leading-[120%] text-lightblack md:block;
}
.primary-button {
  @apply flex h-[40px] w-full cursor-pointer items-center justify-center gap-2 rounded-3xl bg-secondry px-6 py-3 text-center text-white transition-all duration-200 ease-in-out hover:shadow-[2px_2px_6px_0px_rgba(70,70,70,0.25)];
}
.primary-button-disable {
  @apply flex h-[40px] w-full cursor-pointer items-center justify-center gap-2 rounded-3xl bg-yachtClub px-6 py-3 text-center text-white transition-all duration-200 ease-in-out hover:shadow-[2px_2px_6px_0px_rgba(70,70,70,0.25)];
}
.product-footer-text {
  @apply text-[11px] font-light leading-[218.182%] text-lightblack;
}
.product-card-img {
  @apply mx-0 h-full max-h-[90px] object-center sm:mx-auto md:max-h-[250px];
}
.only-with-us {
  @apply pointer-events-none absolute -right-[41%] top-[18%] z-10 !m-0 w-full rotate-45 bg-schoolBus py-1 text-center text-xs font-bold leading-[66.667%] text-lightblack drop-shadow-c1 sm:-right-[41%] sm:top-[9%] md:-right-[42%] md:top-[5%] lg:-right-[40%] xxl:-right-[37%] xxl:top-[4%] 2xl:py-[6px] 3xl:top-[4.9%] 3xl:py-2.5;
}
.slider-only-with-us {
  @apply pointer-events-none absolute -right-[38%] top-[14%] z-10 !m-0 w-full rotate-45 bg-schoolBus py-1 text-center text-xs font-bold leading-[66.667%] text-lightblack drop-shadow-c1 xs:-right-[41%] xs:top-[14%] sm:-right-[44%] sm:top-[12%] md:-right-[40%] md:top-[10%] lg:-right-[35%] xxl:-right-[34%] xxl:top-[11%] 2xl:py-[6px] 3xl:top-[9.9%] 3xl:py-2.5;
}
.footer-li-style {
  @apply cursor-pointer transition-all duration-200 ease-in-out hover:text-primary;
}
.search-input-style {
  @apply w-full bg-transparent text-base text-black outline-none placeholder:text-piedWagtailGrey;
}
.search-item-style {
  @apply flex h-[100px] items-center justify-center border border-Jupiter px-4;
}
.hero-slider-style {
  @apply relative !flex !h-[288px] !flex-col items-center justify-between overflow-hidden rounded-3xl bg-white shadow-c2;
}
.nav-items-style {
  @apply cursor-pointer text-base leading-[150%] text-white transition-all duration-200 ease-in-out hover:text-primary;
}
.count-card-style {
  @apply rounded-xl bg-white px-9 py-10 shadow-c3 transition-all duration-300 ease-in-out hover:-translate-y-1 2xl:px-0;
}
.count-hub-heading {
  @apply text-gradient w-[200px] text-center text-[50px] font-bold leading-[130%] md:w-[270px] lg:text-[42px] 3xl:text-[50px];
}
.medium-title {
  @apply text-xs font-light leading-[160%] text-lightblack sm:text-base 3xl:text-xl;
}
.botton-top-btn-style {
  @apply fixed bottom-5 right-2 z-[1000] h-[50px] w-[50px] cursor-pointer rounded-full bg-secondry shadow-c4 transition-all duration-200 hover:bg-Mandarin md:right-5 md:h-[60px] md:w-[60px];
}
.header-dropdown-style {
  @apply flex cursor-pointer items-center gap-6 rounded-md p-6 transition-all duration-200 ease-in-out hover:bg-white hover:shadow-[5px_8px_20px_0px_rgba(0,123,255,0.25)];
}
.header-dropdown-title {
  @apply w-full max-w-[116px] text-base font-bold leading-[150%] text-blackMetal;
}
.hero-slider-card {
  @apply relative !flex !h-[288px] !flex-col items-center justify-between overflow-hidden rounded-3xl bg-white shadow-c2;
}
.primary-button-hover {
  @apply absolute right-4 -translate-x-5 transform text-base font-bold opacity-0 transition-all duration-300 ease-in-out group-hover:translate-x-0 group-hover:opacity-100;
}
.hero-bg-style {
  @apply absolute left-0 top-0 z-[-1] h-[231px] w-full md:h-[500px];
}
.top-categories-bg-style {
  @apply absolute left-0 top-[14%] z-[-5] object-cover;
}
.header-dropdown-content-hover {
  @apply fill-blueTitmouse transition-colors duration-300 group-hover:fill-[url(#hoverGradient)];
}

.paragraph-font-style {
  @apply text-xs leading-[170%] md:text-lg md:leading-[160%] 3xl:text-xl;
}
.dropdown-text {
  @apply block px-4 py-2 text-base font-light text-blackMetal;
}
.coupon-info-text {
  @apply text-[11px] md:text-sm 3xl:text-base;
}
.table-btn-style {
  @apply m-auto block h-[36px] w-full max-w-[113px] rounded-full bg-secondry px-4 py-1 text-xs text-white shadow-lg transition-all duration-300 sm:text-sm 3xl:h-[40px] 3xl:py-2 3xl:text-base;
}
.accordion-btn-style {
  @apply flex w-full items-center justify-between gap-3 text-left text-sm font-light leading-[130%] text-exodusFruit md:gap-8 md:text-[30px] xl:text-[36px] 2xl:text-[38px] 2xl:leading-[55px] 3xl:text-[50px] 3xl:leading-[65px];
}
.see-more-title {
  @apply text-xs font-bold text-lightblack sm:text-2xl md:text-[26px] 3xl:text-[30px];
}
.service-testing-title {
  @apply text-xs font-light text-lightblack transition-all duration-200 ease-in-out group-hover:text-Mandarin;
}
.service-testing-decription {
  @apply text-xs font-light text-exodusFruit transition-all duration-200 ease-in-out group-hover:text-Mandarin;
}
.service-card-style {
  @apply flex h-full cursor-pointer flex-col justify-between overflow-hidden rounded-[20px] bg-white shadow-c3;
}
.service-card-title {
  @apply text-sm font-bold text-exodusFruit;
}
.service-card-description {
  @apply text-xs font-light leading-[150%] text-lightblack;
}
.hero-descrition {
  @apply text-[11px] sm:text-sm md:text-base 3xl:text-xl;
}
.input-style {
  @apply h-[50px] flex-1 rounded-[20px] border border-[#BBBABF] px-6 py-3 font-light outline-none;
}
/* backgrounds */

.hero-product-bg::before {
  content: "";
  position: absolute;
  top: -2.5%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/webp/hero-product-bg-mobile.webp");
  background-size: cover;
  background-position: top center;
  z-index: -10;
}

@media (min-width: 1280px) {
  .hero-product-bg::before {
    top: -111px;
    height: 106.5%;
    background-image: url("/images/webp/hero-product-bg.webp");
  }
}

.frequently-bg-section::after {
  content: "";
  position: absolute;
  top: -2%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/webp/frequently-story-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: -1;
  display: none;
}

@media (min-width: 1280px) {
  .frequently-bg-section::after {
    display: block;
  }
}

@layer utilities {
  .footer-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/webp/footer-mobile-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: -1;
  }

  @media (min-width: 1024px) {
    .footer-bg::before {
      background-image: url("/images/webp/footer-bg.webp");
    }
  }
}
.top-categories-bg2-style::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/svg/top-categories-bg2.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -10;
}
.top-categories-bg2-style {
  position: relative;
  width: 100%;
}
.img-color-inactive {
  filter: brightness(0) saturate(100%) invert(37%) sepia(42%) saturate(1407%)
    hue-rotate(215deg) brightness(98%) contrast(94%);
}

.img-color-active {
  filter: brightness(0) saturate(100%) invert(14%) sepia(5%) saturate(293%)
    hue-rotate(139deg) brightness(97%) contrast(90%);
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 9999px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.dropdown-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.dropdown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 200ms ease,
    transform 200ms ease;
}

.dropdown-exit {
  opacity: 1;
}

.dropdown-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 200ms ease,
    transform 200ms ease;
}
